In [1]:
# Importing dependency
import pandas as pd

In [2]:
# Importing the data
file_path = 'Resources/all_data.csv'
df = pd.read_csv(file_path)

In [3]:
# Converting df dtypes, floats that should be int
columns_to_convert = ['store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft', 'coffee_bar',
                      'video_store', 'salad_bar', 'prepared_food', 'florist','unit_sales_in_millions', 
                      'total_children','avg_cars_at_home_approx', 'num_children_at_home', 
                      'recyclable_package', 'low_fat', 'units_per_case']
for column in columns_to_convert:
    df = df.astype({column:int})

In [4]:
# Making store df by naming the columns needed and droppping redundant entries
store_col = ['store_type', 'store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft',
             'coffee_bar', 'video_store', 'salad_bar', 'prepared_food', 'florist', 'store_city',
             'store_state']
store_df = df[store_col].drop_duplicates()

In [5]:
# Creating id column for store df
# Creating store_id column
store_df['store_id'] = ''

# Creating numbers for the id
id_num = store_df.index

# Creating empty array to place ids into
store_id = []

# Creating for loop that combines the id number with datatable's letter code (s)
for num in id_num:
    store_id.append(f's{num}')

# Inputting store_id into the dataframe 
store_df['store_id'] = store_id
store_df.head()

,store_type,store_sqft,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,store_city,store_state,store_id
0,Deluxe Supermarket,27694,18670,5415,3610,1,1,1,1,1,Salem,OR,s0
18,Deluxe Supermarket,33858,22123,7041,4694,1,0,1,1,1,Tacoma,WA,s18
40,Supermarket,21215,13305,4746,3164,1,0,0,0,0,Seattle,WA,s40
58,Supermarket,30268,22063,4923,3282,0,0,0,0,0,Spokane,WA,s58
73,Supermarket,23598,14210,5633,3755,0,0,0,0,1,Los Angeles,CA,s73

In [6]:
# Making location table, same process as store_data
loc_col =['store_city', 'store_state']
location_df = df[loc_col].drop_duplicates()

In [7]:
# Making location id using the same process as the store_data
location_df['location_id'] = ''
id_num = location_df.index
loc_id = []
for num in id_num:
    loc_id.append(f'loc{num}')
    
location_df['location_id'] = loc_id
location_df.head()

     store_city store_state location_id
0         Salem          OR        loc0
18       Tacoma          WA       loc18
40      Seattle          WA       loc40
58      Spokane          WA       loc58
73  Los Angeles          CA       loc73

In [8]:
# Creating customer df
cust_col= ['marital_status', 'gender', 'total_children', 'education', 'member_card',
           'occupation', 'houseowner', 'avg_cars_at_home_approx', 'avg_yearly_income',
           'num_children_at_home', 'store_city', 'store_state']
customer_df = df[cust_col].drop_duplicates()

In [9]:
# Creating customer id, same process as above
customer_df['customer_id'] = ''
id_num = customer_df.index
customer_id = []
for num in id_num:
    customer_id.append(f'c{num}')
    
customer_df['customer_id'] = customer_id
customer_df.head()

,marital_status,gender,total_children,education,member_card,occupation,houseowner,avg_cars_at_home_approx,avg_yearly_income,num_children_at_home,store_city,store_state,customer_id
0,M,F,1,Partial High School,Normal,Skilled Manual,Y,1,$10K - $30K,1,Salem,OR,c0
1,M,M,0,Bachelors Degree,Silver,Professional,Y,4,$50K - $70K,0,Salem,OR,c1
2,S,F,4,Partial High School,Normal,Manual,N,1,$10K - $30K,0,Salem,OR,c2
3,M,F,2,High School Degree,Bronze,Manual,Y,2,$30K - $50K,2,Salem,OR,c3
4,M,M,0,Partial High School,Bronze,Skilled Manual,N,2,$30K - $50K,0,Salem,OR,c4

In [10]:
# Creating product df, same process
product_col = ['brand_name', 'food_category', 'food_department', 'food_family', 'SRP',
               'gross_weight', 'net_weight', 'recyclable_package', 'low_fat', 'units_per_case']
product_df = df[product_col].drop_duplicates()

In [11]:
# Creating product id, same process
product_df['product_id'] = ''
id_num = product_df.index
prod_id = []
for num in id_num:
    prod_id.append(f'prod{num}')
    
product_df['product_id'] = prod_id
product_df.head()

,brand_name,food_category,food_department,food_family,SRP,gross_weight,net_weight,recyclable_package,low_fat,units_per_case,product_id
0,Carrington,Breakfast Foods,Frozen Foods,Food,1.84,19.70,17.70,1,0,17,prod0
4,Golden,Breakfast Foods,Frozen Foods,Food,1.36,7.12,5.11,0,1,29,prod4
7,Imagine,Breakfast Foods,Frozen Foods,Food,1.87,16.70,14.70,1,1,10,prod7
9,Big Time,Breakfast Foods,Frozen Foods,Food,3.24,16.30,14.20,1,0,25,prod9
11,PigTail,Breakfast Foods,Frozen Foods,Food,1.64,14.10,13.10,0,1,25,prod11

In [12]:
# Making function to add keys to primary table
def join_tables(key_df, cols):
    # Initializing promo_df as global variable so changes to it persist outside of function
    global promo_df
    # Defining the join
    promo_df = promo_df.merge(
        key_df,
        how='right',
        on=cols
    )
    return promo_df

In [13]:
# Adding the keys! To promo_data
# Promo_df initialized as copy of full dataframe
promo_df = df.copy()
# Using defined function to create the tables
join_tables(store_df,store_col)
join_tables(customer_df,cust_col)
join_tables(product_df,product_col)
join_tables(location_df,loc_col)
# Checking the columns
promo_df.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales_in_millions', 'store_cost_in_millions',
       'unit_sales_in_millions', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at_home_approx',
       'avg_yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost', 'id', 'store_id',
       'customer_id', 'product_id', 'location_id'],
      dtype='object')

In [14]:
# Creating promo_id column, as done previously
promo_df['promotion_id'] = ''
id_num = promo_df.index
promo_id = []
for num in id_num:
    promo_id.append(f'prom{num}')
    
promo_df['promotion_id'] = promo_id
promo_df.head()

,food_category,food_department,food_family,store_sales_in_millions,store_cost_in_millions,unit_sales_in_millions,promotion_name,sales_country,marital_status,gender,...,prepared_food,florist,media_type,cost,id,store_id,customer_id,product_id,location_id,promotion_id
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,1,1,"Daily Paper, Radio",126.62,0,s0,c0,prod0,loc0,prom0
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,1,1,"Daily Paper, Radio",59.86,1,s0,c1,prod0,loc0,prom1
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,1,1,"Daily Paper, Radio",84.16,2,s0,c2,prod0,loc0,prom2
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,1,1,In-Store Coupon,95.78,3,s0,c3,prod0,loc0,prom3
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,...,1,1,Radio,50.79,4,s0,c4,prod4,loc0,prom4

In [15]:
# Dropping and Rearragning columns in promo_df
promo_df = promo_df[['promotion_id', 'promotion_name', 'media_type', 'cost','store_sales_in_millions',
                     'store_cost_in_millions', 'unit_sales_in_millions','product_id', 'store_id',
                     'customer_id', 'location_id']]
# Checking the columns
promo_df.columns

Index(['promotion_id', 'promotion_name', 'media_type', 'cost',
       'store_sales_in_millions', 'store_cost_in_millions',
       'unit_sales_in_millions', 'product_id', 'store_id', 'customer_id',
       'location_id'],
      dtype='object')

In [16]:
# Adding the location keys to store_data using a join
store_df = store_df.merge(
    location_df,
    how='left',
    on=loc_col
)
store_df.drop(columns=loc_col,inplace=True)
# Checking the columns
store_df.columns

Index(['store_type', 'store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft',
       'coffee_bar', 'video_store', 'salad_bar', 'prepared_food', 'florist',
       'store_id', 'location_id'],
      dtype='object')

In [17]:
# Adding the location keys to customer_data using a join as well
customer_df = customer_df.merge(
    location_df,
    how='left',
    on=loc_col
)
customer_df.drop(columns=loc_col,inplace=True)
# Checking the columns
customer_df.columns

Index(['marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at_home_approx',
       'avg_yearly_income', 'num_children_at_home', 'customer_id',
       'location_id'],
      dtype='object')

In [18]:
# Checking the columns
location_df.columns

Index(['store_city', 'store_state', 'location_id'], dtype='object')

In [19]:
# Rearranging columns in tables so ids are first
store_df = store_df[['store_id', 'store_type', 'store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft',
                     'coffee_bar', 'video_store', 'salad_bar', 'prepared_food', 'florist','location_id']]
customer_df = customer_df[['customer_id','marital_status', 'gender', 'total_children', 'education',
                           'member_card', 'occupation', 'houseowner', 'avg_cars_at_home_approx',
                           'avg_yearly_income', 'num_children_at_home','location_id']]
product_df = product_df[['product_id', 'brand_name', 'food_category', 'food_department', 'food_family',
                         'SRP','gross_weight', 'net_weight', 'recyclable_package', 'low_fat',
                         'units_per_case']]
location_df = location_df[['location_id', 'store_city', 'store_state']]

In [20]:
# Exporting the data to .csv
file_path = 'New_ERD_Tables/'
promo_df.to_csv(f'{file_path}promotion_data.csv', index=False)
store_df.to_csv(f'{file_path}store_data.csv', index=False)
customer_df.to_csv(f'{file_path}customer_data.csv', index=False)
product_df.to_csv(f'{file_path}product_data.csv', index=False)
location_df.to_csv(f'{file_path}location_data.csv', index=False)