In [ ]:
# Import the models
import pandas as pd
import sklearn.datasets
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("Resources/media prediction and its cost.csv")

In [3]:
df

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1.0,You Save Days,USA,M,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,In-Store Coupon,95.25
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1.0,Price Cutters,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Sunday Paper,69.42
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2.0,Weekend Markdown,USA,M,M,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio, TV",67.51
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3.0,Sales Days,Canada,S,M,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,Sunday Paper,132.88
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4.0,Super Duper Savers,Canada,S,F,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,"Daily Paper, Radio",87.76

In [4]:
df.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost'],
      dtype='object')

In [5]:
df['food_category'].value_counts()

Vegetables              7440
Snack Foods             6919
Dairy                   3835
Meat                    3107
Fruit                   3080
Jams and Jellies        2550
Baking Goods            1947
Breakfast Foods         1946
Bread                   1797
Canned Soup             1722
Beer and Wine           1590
Paper Products          1568
Bathroom Products       1552
Electrical              1544
Candy                   1538
Frozen Desserts         1446
Specialty               1174
Starchy Foods           1103
Magazines                971
Kitchen Products         969
Eggs                     952
Hot Beverages            891
Hygiene                  831
Pain Relievers           828
Pizza                    821
Carbonated Beverages     782
Pure Juice Beverages     760
Cleaning Supplies        748
Side Dishes              601
Frozen Entrees           595
Drinks                   581
Plastic Products         578
Hardware                 575
Cold Remedies            399
Decongestants            396
Canned Tuna              395
Seafood                  375
Canned Anchovies         213
Canned Clams             199
Candles                  195
Miscellaneous            194
Canned Oysters           189
Canned Shrimp            182
Packaged Vegetables      179
Canned Sardines          171
Name: food_category, dtype: int64

In [6]:
df['food_department'].value_counts()

Produce                8521
Snack Foods            6919
Household              6185
Frozen Foods           6126
Baking Goods           4497
Canned Foods           4238
Dairy                  3835
Health and Hygiene     3807
Beverages              3014
Deli                   2787
Baked Goods            1797
Alcoholic Beverages    1590
Snacks                 1538
Starchy Foods          1103
Periodicals             971
Eggs                    952
Breakfast Foods         778
Canned Products         400
Checkout                385
Meat                    385
Seafood                 375
Carousel                225
Name: food_department, dtype: int64

In [7]:
df['food_family'].value_counts()

Food              43284
Non-Consumable    11573
Drink              5571
Name: food_family, dtype: int64

In [8]:
df['store_sales(in millions)'].value_counts()

5.04     311
7.95     272
5.40     270
4.80     268
7.41     265
        ...
18.85      1
3.83       1
17.46      1
3.71       1
1.21       1
Name: store_sales(in millions), Length: 1033, dtype: int64

In [9]:
df['store_cost(in millions)'].value_counts()

1.5120    71
2.1600    65
3.0240    64
2.5920    62
1.7280    62
          ..
1.2070     1
3.9100     1
2.4375     1
1.9975     1
0.4477     1
Name: store_cost(in millions), Length: 9919, dtype: int64

In [10]:
df['unit_sales(in millions)'].value_counts()

3.0    27482
4.0    16581
2.0    13417
5.0     2058
1.0      864
6.0       26
Name: unit_sales(in millions), dtype: int64

In [11]:
df['promotion_name'].value_counts()

Weekend Markdown           2330
Two Day Sale               2321
Price Savers               2279
Price Winners              2108
Save-It Sale               2001
Super Duper Savers         1986
Super Savers               1930
One Day Sale               1843
Double Down Sale           1755
High Roller Savings        1741
Green Light Days           1702
Shelf Clearing Days        1690
Price Slashers             1647
Free For All               1621
Cash Register Lottery      1555
Go For It                  1521
Two for One                1493
Money Savers               1489
Big Time Discounts         1480
Price Destroyers           1374
Saving Days                1353
Dollar Cutters             1326
Unbeatable Price Savers    1217
Sales Galore               1212
Big Promo                  1172
Dimes Off                  1150
Sales Days                 1107
Price Cutters              1099
You Save Days              1075
Savings Galore             1067
Bag Stuffers               1066
Three for One              1042
I Cant Believe It Sale      972
Sale Winners                910
Pick Your Savings           876
Bye Bye Baby                874
Best Savings                868
Tip Top Savings             862
Shelf Emptiers              799
Big Time Savings            745
Wallet Savers               608
Dollar Days                 532
Mystery Sale                511
Price Smashers              449
Green Light Special         427
Coupon Spectacular          402
Super Wallet Savers         389
Double Your Savings         242
Fantastic Discounts         210
Name: promotion_name, dtype: int64

In [12]:
media['sales_country'].value_counts()

USA       38892
Mexico    17572
Canada     3964
Name: sales_country, dtype: int64

In [13]:
df['marital_status'].value_counts()

S    30355
M    30073
Name: marital_status, dtype: int64

In [14]:
df['gender'].value_counts()

F    30942
M    29486
Name: gender, dtype: int64

In [15]:
df['total_children'].value_counts()

2.0    12518
4.0    12427
3.0    11921
1.0    11770
5.0     6168
0.0     5624
Name: total_children, dtype: int64

In [16]:
df['education'].value_counts()

Partial High School    18201
High School Degree     17838
Bachelors Degree       15994
Partial College         5284
Graduate Degree         3111
Name: education, dtype: int64

In [17]:
df['member_card'].value_counts()

Bronze    33807
Normal    13867
Golden     7556
Silver     5198
Name: member_card, dtype: int64

In [18]:
df['occupation'].value_counts()

Professional      19915
Skilled Manual    15995
Manual            14624
Management         8805
Clerical           1089
Name: occupation, dtype: int64

In [19]:
df['houseowner'].value_counts()

Y    36510
N    23918
Name: houseowner, dtype: int64

In [20]:
df['avg_cars_at home(approx)'].value_counts()

2.0    18268
3.0    16961
1.0    13643
4.0     7974
0.0     3582
Name: avg_cars_at home(approx), dtype: int64

In [21]:
df['avg. yearly_income'].value_counts()

$30K - $50K      19514
$10K - $30K      12959
$50K - $70K      10493
$70K - $90K       7544
$130K - $150K     3410
$90K - $110K      2737
$110K - $130K     2590
$150K +           1181
Name: avg. yearly_income, dtype: int64

In [22]:
df['num_children_at_home'].value_counts()

0.0    37609
1.0     8811
2.0     5841
3.0     4391
4.0     2430
5.0     1346
Name: num_children_at_home, dtype: int64

In [23]:
df['avg_cars_at home(approx).1'].value_counts()

2.0    18268
3.0    16961
1.0    13643
4.0     7974
0.0     3582
Name: avg_cars_at home(approx).1, dtype: int64

In [24]:
df['brand_name'].value_counts()

Hermanos     1839
Ebony        1729
Tell Tale    1728
Tri-State    1633
High Top     1592
             ...
ADJ            56
Symphony       49
Prelude        45
Toretti        39
King           36
Name: brand_name, Length: 111, dtype: int64

In [25]:
df['SRP'].value_counts()

2.65    585
2.47    558
2.59    465
1.68    453
2.70    414
       ...
3.77     38
3.22     38
3.54     37
3.28     35
3.65     32
Name: SRP, Length: 315, dtype: int64

In [26]:
media['gross_weight'].value_counts()

17.10    704
19.90    624
14.70    621
17.20    588
20.90    563
        ...
6.91      27
6.35      27
8.13      24
7.80      24
8.70      24
Name: gross_weight, Length: 376, dtype: int64

In [27]:
df['net_weight'].value_counts()

16.20    1001
11.60     951
10.60     904
11.10     814
16.70     809
         ...
5.85       29
8.43       29
5.34       27
3.90       27
7.13       24
Name: net_weight, Length: 332, dtype: int64

In [28]:
df['recyclable_package'].value_counts()

1.0    33759
0.0    26669
Name: recyclable_package, dtype: int64

In [29]:
df['low_fat'].value_counts()

0.0    39252
1.0    21176
Name: low_fat, dtype: int64

In [30]:
df['units_per_case'].value_counts()

29.0    2294
6.0     2285
33.0    2217
31.0    2107
23.0    2085
30.0    2073
26.0    2013
25.0    1993
5.0     1958
9.0     1950
3.0     1877
13.0    1783
34.0    1740
19.0    1670
21.0    1667
14.0    1658
24.0    1647
22.0    1641
27.0    1632
32.0    1607
35.0    1577
17.0    1576
4.0     1573
2.0     1558
15.0    1548
28.0    1536
20.0    1509
11.0    1484
7.0     1480
16.0    1440
18.0    1419
10.0    1387
12.0    1379
8.0     1364
1.0      952
36.0     749
Name: units_per_case, dtype: int64

In [31]:
df['store_type'].value_counts()

Supermarket            26192
Deluxe Supermarket     22954
Gourmet Supermarket     6503
Mid-Size Grocery        2846
Small Grocery           1933
Name: store_type, dtype: int64

In [32]:
df['store_city'].value_counts()

Tacoma           5704
Salem            5478
Portland         5150
Seattle          5051
Hidalgo          4761
Merida           4498
Spokane          4453
Beverly Hills    4151
Los Angeles      3960
Bremerton        3451
Vancouver        3384
Orizaba          2621
Camacho          2352
Acapulco         1506
Mexico City      1395
San Francisco     783
Bellingham        711
Victoria          580
Guadalajara       439
Name: store_city, dtype: int64

In [33]:
df['store_state'].value_counts()

WA           19370
OR           10628
CA            8894
Zacatecas     7113
Yucatan       4498
BC            3964
Veracruz      2621
Guerrero      1506
DF            1395
Jalisco        439
Name: store_state, dtype: int64

In [34]:
df['store_sqft'].value_counts()

33858.0    5704
27694.0    5478
20319.0    5150
21215.0    5051
30797.0    4498
30268.0    4453
23688.0    4151
23598.0    3960
30584.0    3890
39696.0    3451
23112.0    3384
34791.0    2621
23759.0    2352
23593.0    1506
36509.0    1395
38382.0     871
22478.0     783
28206.0     711
34452.0     580
24597.0     439
Name: store_sqft, dtype: int64

In [35]:
df['grocery_sqft'].value_counts()

22123.0    5704
18670.0    5478
16232.0    5150
13305.0    5051
20141.0    4498
22063.0    4453
15337.0    4151
14210.0    3960
21938.0    3890
24390.0    3451
16418.0    3384
26354.0    2621
16844.0    2352
17475.0    1506
22450.0    1395
30351.0     871
15321.0     783
22271.0     711
27463.0     580
15012.0     439
Name: grocery_sqft, dtype: int64

In [36]:
df['frozen_sqft'].value_counts()

7041.0    5704
5415.0    5478
2452.0    5150
4746.0    5051
6393.0    4498
4923.0    4453
5011.0    4151
5633.0    3960
5188.0    3890
9184.0    3451
4016.0    3384
5062.0    2621
4149.0    2352
3671.0    1506
8435.0    1395
4819.0     871
4294.0     783
3561.0     711
4193.0     580
5751.0     439
Name: frozen_sqft, dtype: int64

In [37]:
df['meat_sqft'].value_counts()

4694.0    5704
3610.0    5478
1635.0    5150
3164.0    5051
4262.0    4498
3282.0    4453
3340.0    4151
3755.0    3960
3458.0    3890
6122.0    3451
2678.0    3384
3375.0    2621
2766.0    2352
2447.0    1506
5624.0    1395
3213.0     871
2863.0     783
2374.0     711
2795.0     580
3834.0     439
Name: meat_sqft, dtype: int64

In [38]:
df['coffee_bar'].value_counts()

1.0    37021
0.0    23407
Name: coffee_bar, dtype: int64

In [39]:
df['video_store'].value_counts()

0.0    39027
1.0    21401
Name: video_store, dtype: int64

In [40]:
df['salad_bar'].value_counts()

1.0    35529
0.0    24899
Name: salad_bar, dtype: int64

In [41]:
df['prepared_food'].value_counts()

1.0    35529
0.0    24899
Name: prepared_food, dtype: int64

In [42]:
df['florist'].value_counts()

1.0    33997
0.0    26431
Name: florist, dtype: int64

In [43]:
df['media_type'].value_counts()

Daily Paper, Radio         6820
Product Attachment         5371
Daily Paper, Radio, TV     5284
Daily Paper                5119
Street Handout             5069
Radio                      4980
Sunday Paper               4859
In-Store Coupon            4495
Sunday Paper, Radio        4050
Cash Register Handout      4002
TV                         3576
Bulk Mail                  3457
Sunday Paper, Radio, TV    3346
Name: media_type, dtype: int64

In [44]:
df['cost'].value_counts()

101.84    839
69.63     763
59.86     726
81.79     698
131.81    619
         ...
101.57     14
77.70      13
101.75     13
69.15      11
84.11      10
Name: cost, Length: 328, dtype: int64