In [93]:
# Import dependencies
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [42]:
combo = pd.read_csv('Resources/media_prediction_and_its_cost.csv')
combo

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1.0,You Save Days,USA,M,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,In-Store Coupon,95.25
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1.0,Price Cutters,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Sunday Paper,69.42
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2.0,Weekend Markdown,USA,M,M,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio, TV",67.51
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3.0,Sales Days,Canada,S,M,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,Sunday Paper,132.88
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4.0,Super Duper Savers,Canada,S,F,...,27463.0,4193.0,2795.0,1.0,0.0,0.0,0.0,1.0,"Daily Paper, Radio",87.76

In [43]:
combo.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost'],
      dtype='object')

In [44]:
combo2 = combo.loc[combo['sales_country'] == 'USA']

combo2

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,grocery_sqft,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4.0,Bag Stuffers,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",126.62
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3.0,Cash Register Lottery,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",59.86
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2.0,High Roller Savings,USA,S,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,"Daily Paper, Radio",84.16
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2.0,Cash Register Lottery,USA,M,F,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,In-Store Coupon,95.78
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3.0,Double Down Sale,USA,M,M,...,18670.0,5415.0,3610.0,1.0,1.0,1.0,1.0,1.0,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60421,Specialty,Carousel,Non-Consumable,0.99,0.4554,1.0,Green Light Special,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Cash Register Handout,127.19
60422,Specialty,Carousel,Non-Consumable,1.21,0.4477,1.0,Unbeatable Price Savers,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio",78.45
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1.0,You Save Days,USA,M,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,In-Store Coupon,95.25
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1.0,Price Cutters,USA,S,F,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,Sunday Paper,69.42
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2.0,Weekend Markdown,USA,M,M,...,15321.0,4294.0,2863.0,1.0,0.0,0.0,0.0,0.0,"Sunday Paper, Radio, TV",67.51

In [45]:
customer_df = combo2[['marital_status', 'gender', 'total_children', 'education','member_card', 'occupation',
                          'houseowner', 'avg_cars_at home(approx)', 'avg. yearly_income', 'num_children_at_home',
                      'promotion_name','media_type', 'cost']]


customer_df

,marital_status,gender,total_children,education,member_card,occupation,houseowner,avg_cars_at home(approx),avg. yearly_income,num_children_at_home,promotion_name,media_type,cost
0,M,F,1.0,Partial High School,Normal,Skilled Manual,Y,1.0,$10K - $30K,1.0,Bag Stuffers,"Daily Paper, Radio",126.62
1,M,M,0.0,Bachelors Degree,Silver,Professional,Y,4.0,$50K - $70K,0.0,Cash Register Lottery,"Daily Paper, Radio",59.86
2,S,F,4.0,Partial High School,Normal,Manual,N,1.0,$10K - $30K,0.0,High Roller Savings,"Daily Paper, Radio",84.16
3,M,F,2.0,High School Degree,Bronze,Manual,Y,2.0,$30K - $50K,2.0,Cash Register Lottery,In-Store Coupon,95.78
4,M,M,0.0,Partial High School,Bronze,Skilled Manual,N,2.0,$30K - $50K,0.0,Double Down Sale,Radio,50.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60421,S,F,2.0,High School Degree,Bronze,Professional,Y,3.0,$130K - $150K,0.0,Green Light Special,Cash Register Handout,127.19
60422,S,F,1.0,Partial High School,Bronze,Skilled Manual,N,2.0,$50K - $70K,0.0,Unbeatable Price Savers,"Sunday Paper, Radio",78.45
60423,M,F,1.0,Partial High School,Normal,Skilled Manual,Y,1.0,$10K - $30K,1.0,You Save Days,In-Store Coupon,95.25
60424,S,F,2.0,High School Degree,Bronze,Skilled Manual,N,2.0,$30K - $50K,0.0,Price Cutters,Sunday Paper,69.42
60425,M,M,1.0,High School Degree,Bronze,Manual,Y,3.0,$30K - $50K,0.0,Weekend Markdown,"Sunday Paper, Radio, TV",67.51

In [46]:
# Do different promotions work better on different:
# education levels
# income levels
# genders

In [47]:
cu_edu = customer_df[[ 'education', 'promotion_name']]
cu_edu

                 education           promotion_name
0      Partial High School             Bag Stuffers
1         Bachelors Degree    Cash Register Lottery
2      Partial High School      High Roller Savings
3       High School Degree    Cash Register Lottery
4      Partial High School         Double Down Sale
...                    ...                      ...
60421   High School Degree      Green Light Special
60422  Partial High School  Unbeatable Price Savers
60423  Partial High School            You Save Days
60424   High School Degree            Price Cutters
60425   High School Degree         Weekend Markdown

[38892 rows x 2 columns]

In [104]:
le = LabelEncoder()

edu_enc = cu_edu.apply(le.fit_transform)

edu_enc

       education  promotion_name
0              4               0
1              0               6
2              4              18
3              2               6
4              4              11
...          ...             ...
60421          2              17
60422          4              45
60423          4              48
60424          2              24
60425          2              47

[38892 rows x 2 columns]

In [105]:
# Split preprocessed data into our target and features arrays
y = edu_enc['promotion_name'].values
X = edu_enc.drop(columns='promotion_name').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [106]:
# Fit the model
mlg = LinearRegression()
mlg.fit(X_train, y_train)

LinearRegression()

In [107]:
# Predict the result
y_pred = mlg.predict(X_test)
y_pred

array([25.30137462, 25.50090144, 25.30137462, ..., 25.10184779,
       25.10184779, 25.70042827])

In [108]:
# Evaluate the model
accuracy = r2_score(y_test, y_pred) 
print(f"Accuracy of multiple linear regression is {accuracy:.2f}.")

Accuracy of multiple linear regression is 0.00.

In [100]:
y = edu_enc['promotion_name'].values
X = edu_enc.drop(columns='promotion_name').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# # Splitting into Train and Test sets
# X_train, X_test, y_train, y_test = train_test_split(X,
#                                                     y,
#                                                     random_state=1)

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [103]:
# # Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=78, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.049

In [64]:
cu_inc = customer_df[[ 'promotion_name', 'avg. yearly_income']]
cu_inc

                promotion_name avg. yearly_income
0                 Bag Stuffers        $10K - $30K
1        Cash Register Lottery        $50K - $70K
2          High Roller Savings        $10K - $30K
3        Cash Register Lottery        $30K - $50K
4             Double Down Sale        $30K - $50K
...                        ...                ...
60421      Green Light Special      $130K - $150K
60422  Unbeatable Price Savers        $50K - $70K
60423            You Save Days        $10K - $30K
60424            Price Cutters        $30K - $50K
60425         Weekend Markdown        $30K - $50K

[38892 rows x 2 columns]

In [65]:

inc_enc = cu_inc.apply(le.fit_transform)

inc_enc

       promotion_name  avg. yearly_income
0                   0                   0
1                   6                   5
2                  18                   0
3                   6                   4
4                  11                   4
...               ...                 ...
60421              17                   2
60422              45                   5
60423              48                   0
60424              24                   4
60425              47                   4

[38892 rows x 2 columns]

In [66]:
# Split preprocessed data into our features and target arrays
y = inc_enc['promotion_name'].values
X = inc_enc.drop(columns='promotion_name').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [67]:
# Fit the model
mlg = LinearRegression()
mlg.fit(X_train, y_train)

LinearRegression()

In [68]:
# Predict the result
y_pred = mlg.predict(X_test)
y_pred

array([25.35073304, 25.43171549, 25.43171549, ..., 25.43171549,
       25.75564526, 25.67466281])

In [69]:
# Evaluate the model
accuracy = r2_score(y_test, y_pred) 
print(f"Accuracy of multiple linear regression is {accuracy:.2f}.")

Accuracy of multiple linear regression is 0.00.

In [109]:
y = inc_enc['promotion_name'].values
X = inc_enc.drop(columns='promotion_name').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# # Splitting into Train and Test sets
# X_train, X_test, y_train, y_test = train_test_split(X,
#                                                     y,
#                                                     random_state=1)

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [110]:
# # Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=78, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.051

In [77]:
cu_combo = customer_df[[ 'media_type', 'avg. yearly_income', 'education', 'occupation', 'houseowner', 'num_children_at_home']]
cu_combo

,media_type,avg. yearly_income,education,occupation,houseowner,num_children_at_home
0,"Daily Paper, Radio",$10K - $30K,Partial High School,Skilled Manual,Y,1.0
1,"Daily Paper, Radio",$50K - $70K,Bachelors Degree,Professional,Y,0.0
2,"Daily Paper, Radio",$10K - $30K,Partial High School,Manual,N,0.0
3,In-Store Coupon,$30K - $50K,High School Degree,Manual,Y,2.0
4,Radio,$30K - $50K,Partial High School,Skilled Manual,N,0.0
...,...,...,...,...,...,...
60421,Cash Register Handout,$130K - $150K,High School Degree,Professional,Y,0.0
60422,"Sunday Paper, Radio",$50K - $70K,Partial High School,Skilled Manual,N,0.0
60423,In-Store Coupon,$10K - $30K,Partial High School,Skilled Manual,Y,1.0
60424,Sunday Paper,$30K - $50K,High School Degree,Skilled Manual,N,0.0
60425,"Sunday Paper, Radio, TV",$30K - $50K,High School Degree,Manual,Y,0.0

In [78]:
combo_enc = cu_combo.apply(le.fit_transform)

combo_enc

,media_type,avg. yearly_income,education,occupation,houseowner,num_children_at_home
0,3,0,4,4,1,1
1,3,5,0,3,1,0
2,3,0,4,2,0,0
3,5,4,2,2,1,2
4,7,4,4,4,0,0
...,...,...,...,...,...,...
60421,1,2,2,3,1,0
60422,10,5,4,4,0,0
60423,5,0,4,4,1,1
60424,9,4,2,4,0,0
60425,11,4,2,2,1,0

In [84]:
# Split preprocessed data into our features and target arrays
# y = combo_enc['media_type'].values
# X = combo_enc.drop(columns='media_type').values

y = inc_enc['promotion_name'].values
X = inc_enc.drop(columns='promotion_name').values

X= combo_enc.drop('media_type', axis =1) 
y= combo_enc['media_type']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [85]:
# Fit the model
mlg = LinearRegression()
mlg.fit(X_train, y_train)

LinearRegression()

In [86]:
# Predict the result
y_pred = mlg.predict(X_test)
y_pred

array([5.45088856, 5.45829487, 5.64887991, ..., 5.39984612, 5.37254828,
       5.36175535])

In [87]:
# Evaluate the model
# accuracy = r2_score(y_test, y_pred) 
# print(f"Accuracy of multiple linear regression is {accuracy:.2f}.")

y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

Accuracy of multiple linear regression is 0.00.

In [90]:
# Define the feature variable(s)
X = combo_enc.copy()
X =X.drop("media_type", axis=1)

# define the target variable
y = combo_enc["media_type"].values

In [91]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [94]:
# # Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.191

In [ ]:
# Define the feature variable(s)
X = combo_enc.copy()
X =X.drop("promotion_name", axis=1)

# define the target variable
y = combo_enc["promotion_name"].values

In [111]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1)

# Creating StandardScaler instance
scaler = StandardScaler()

# Fitting Standard Scaler
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [112]:
# # Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.050